VITE_APP_ENV=production
VITE_SITE_URL=https://alliance-air-cargosuperadmin.onrender.com
VITE_API_BASE_URL=https://alliance-air-cargo.onrender.com
VITE_LANDING_URL=https://alliance-air-cargo-1landing-page.onrender.com
VITE_CLIENT_URL=https://alliance-air-cargo-1-client-page.onrender.com
